<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sefazgo="http://www.sefaz.go.gov.br"
	layout:decorate="~{layout/layout-master}">
<head>
	<title>New Region</title>
</head>

<body>
	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2><i class="fa fa-globe pull-left"></i>New Region</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li>
								<a class="btn btn-default btn-xs pull-right" th:href="@{/regions}">
									<div class="fa fa-list-ul"> List</div>
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />

						<form method="post" th:object="${region}" th:action="@{/regions/save}" class="form-horizontal form-label-left input_mask" novalidate>

							<!-- Messages -->
							<sefazgo:messages/>
							
							<input id="id" type="hidden" th:field="*{id}"/>

                            <!-- Region Name -->
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" sefazgo:checkError="name">
                            	<label class="control-label" for="name">Name</label>
                                <input id="name" type="text" th:field="*{name}" class="form-control has-feedback-left js-sefazgo-inputclear" required="required"/>
                                <span class="fa fa-keyboard-o form-control-feedback left" aria-hidden="true"></span>
                            </div>
                            
							<div class="form-group"></div>
							<div class="ln_solid"></div>
							
							<div class="form-group">
								<div class="btn-toolbar pull-right">
									<a class="btn  btn-default btn-sm" th:href="@{/regions}" th:if="*{id != null}">Cancel</a>
									<button type="reset" class="btn btn-default btn-sm" th:if="*{id == null}">Clean</button>
									<button type="submit" class="btn  btn-dark btn-sm">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<th:block layout:fragment="self-page-javascripts">
		<script th:src="@{/resources/js/sefazgo/inputclear/1.0.0/jquery.sefazgo.inputclear.js}"></script>
	</th:block>

</body>
</html>