<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-master}">

	<head>
		<title>User Profile</title>
		
		<link th:href="@{/resources/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/resources/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css}" rel="stylesheet">
	</head>

	<body>
		<section layout:fragment="content" th:with="usuarioAutenticado=${#authentication.principal.usuarioAutenticado.fromType}">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2><i class="fa fa-user pull-left"></i>User Profile</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="col-md-3 col-sm-3 col-xs-12 profile_left" th:if="${usuarioAutenticado != null}" th:with="pessoaAutenticada=${usuarioAutenticado.pessoaAutenticada}">
								<div class="profile_img">
									<div id="crop-avatar" th:with="
										isPessoaFisica=${#strings.toString(pessoaAutenticada.tipoPessoa) == 'F'},
										isSexoMasculino=${isPessoaFisica && #strings.toString(pessoaAutenticada.sexo) == 'M'},
										imgProfile=${isPessoaFisica && isSexoMasculino ? 'user_f_m.png'
				            				: (isPessoaFisica && !isSexoMasculino ? 'user_f_f.png' : 'user_j.png' )},
				            			fotoUsuario=${session.usuarioAutenticadoFoto}">
				            			
										<img class="img-responsive avatar-view" th:if="${fotoUsuario != null}"  th:src="|data:image/jpeg;charset=utf-8;base64,${fotoUsuario}|" />
										<img class="img-responsive avatar-view" th:if="${fotoUsuario == null}" th:src="@{/resources/images/__${imgProfile}__}" />
									</div>
								</div>
							</div>
							
							<!--  Abas -->
							<div class="col-md-9 col-sm-9 col-xs-12">
								<div class="" role="tabpanel" data-example-id="togglable-tabs" th:if="${usuarioAutenticado != null}" th:with="pessoaAutenticada=${usuarioAutenticado.pessoaAutenticada}">
									<ul id="userProfileInformationTab" class="nav nav-tabs bar_tabs" role="tablist">
										<li role="presentation" class="active">
											<a href="#additionalInfo" id="additionalInfo-tab" role="tab" data-toggle="tab" aria-expanded="false">User Information</a>
										</li>
										<li role="presentation">
											<a href="#roles" id="roles-tab" role="tab" data-toggle="tab" aria-expanded="false">Privileges</a>
										</li>
									</ul>
									<div id="userProfileInformationTabContent" class="tab-content">
										<!-- Aba Outras Informações do Usuário -->
										<div role="tabpanel" class="tab-pane fade active in" id="additionalInfo" aria-labelledby="additionalInfo-tab">
											<div class="col-md-12 col-xs-12">
												<div class="x_content">
													<p class="lead" th:text="${pessoaAutenticada.descricao}"></p>
													<div class="table-responsive" th:if="${#strings.toString(pessoaAutenticada.tipoPessoa) == 'F'}">
														<table class="table">
															<tbody>
																<tr>
																	<th style="width: 50%">CPF</th>
																	<td th:text="${pessoaAutenticada.cpfFormatado}"></td>
																</tr>
																<tr>
																	<th>Matrícula</th>
																	<td th:text="${pessoaAutenticada.matricula}"></td>
																</tr>
																<tr>
																	<th>Birthdate</th>
																	<td th:with="dates=${#strings.arraySplit(pessoaAutenticada.dataNascimento.toString(), '-')}" th:text="|${dates[2]}/${dates[1]}/${dates[0]}|"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Aba Outras Informações do Usuário -->
										<!-- Aba Privilegios -->
										<div role="tabpanel" class="tab-pane fade" id="roles" aria-labelledby="roles-tab">
											<div class="col-md-12 col-xs-12">
												<div class="x_panel">
													<div class="x_content">
														<table id="datatable-responsive-roles" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
															<thead>
																<tr>
																	<th>Privilege Description</th>
																</tr>
															</thead>
															<tbody>
																<tr th:each="grantedAuthority : ${#authentication.principal.authorities}">
																	<td th:text="${grantedAuthority.authority}"></td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<!-- Fim Aba Privilegios -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<th:block layout:fragment="self-page-javascripts">
			<!-- Datatables -->
			<script	th:src="@{/resources/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
			<script	th:src="@{/resources/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
			<!-- Sefazgo Datatables-->
			<script	th:src="@{/resources/js/sefazgo/datatable/1.0.0/jquery.sefazgo.datatable.js}"></script>
	    </th:block>
	</body>
</html>