<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
		
<body>
	<div class="top_nav" id="top-navbar" th:fragment="navbar">
		<div class="nav_menu">
			<nav>
				<div class="nav toggle">
					<a id="menu_toggle"><i class="glyphicon glyphicon-option-vertical" style="margin: 3px 5px 0px -10px; color:#777"></i></a>
				</div>
				<ul class="nav navbar-nav navbar-right" th:with="isUsuarioAutenticadoJwt=${session.usuarioAutenticado.class.name eq 'br.gov.go.sefaz.javaee.security.jwt.user.UsuarioAutenticadoJwt'}">
					<li id="navBarMenuSiglaSistema" style="border-left: 1px solid #D9DEE4; margin:0px 0px 0px 10px">
						<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-family:Impact; font-size: 24px; color: #777"> 
							<span style="color: #777;padding-right: 10px"> HRS </span> <span class="fa fa-angle-down" style="color:#759A8F"></span>
						</a>
						<ul class="dropdown-menu dropdown-usermenu pull-right">
							<li><a th:href="@{/dashboard}"><i
									class="fa fa-desktop pull-right"></i> Dashboard</a></li>
							<li><a th:href="@{/profiles/info}"><i
									class="fa fa-user pull-right"></i> User Profile</a></li>
							<li><a th:href="@{/settings/information}"><i
									class="glyphicon glyphicon-cog pull-right"></i> Settings</a></li>
							<li><a th:href="@{/logout}"><i
									class="glyphicon glyphicon-off pull-right"></i> Log Out</a></li>
						</ul>
					</li>
					<li>
						<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-user" style="color:#777; font-size:25px; position:relative; top:5px; right:3px"></i> <span class="badge" th:style="'background-color:'+${#strings.toString(session.usuarioAutenticado.type) == 'X509' || #strings.toString(session.usuarioAutenticado.type) == 'X509_PORTALSEFAZ' ? '#97cc91' : (#strings.toString(session.usuarioAutenticado.type) == 'TWO_FACTOR' ? '#7ec5e7' : '#a94442')}"><i class="fa fa-lock"></i></span>
						</a>
						<ul id="menuTiposAutenticacao" class="dropdown-menu list-unstyled msg_list" role="menu">
							<li th:style="${#strings.toString(session.usuarioAutenticado.type) == 'X509' || #strings.toString(session.usuarioAutenticado.type) == 'X509_PORTALSEFAZ' ? 'border: 2px solid #77bc70' : ''}">
								<a style="disabled:true">
									<span>
										<span><strong>Certificado Digital</strong></span> 
										<span class="time" style="color:#77bc70">Nível Alto</span>
									</span>
									<span class="message"><strong>Alto nível de segurança, garantindo a autenticidade das transações. </strong></span>
									<span class="message" style="font-style:italic;margin-top:10px" th:if="${#strings.toString(session.usuarioAutenticado.type) != 'X509' || #strings.toString(session.usuarioAutenticado.type) != 'X509_PORTALSEFAZ'}"> Para realizar a Autenticação com Certificado Digital, por favor efetue o logout e feche todas as janelas de seu navegador. Em seguida, insira seu Certificado Digital ICP/Brasil e efetue o login novamente.</span>
								</a>
							</li>
							<li th:style="${#strings.toString(session.usuarioAutenticado.type) == 'TWO_FACTOR' ? 'border: 2px solid #7ec5e7' : ''}">
								<a>
									<span>
										<span><strong>Autenticação em Dois Fatores</strong></span>
										<span class="time" style="color:#7ec5e7">Nível Médio</span>
									</span>
									<span class="message"><strong>Nível intermediário de segurança, com verificação adicional de identidade.</strong></span>
									<span class="message" style="font-style:italic;margin-top:10px" th:if="${#strings.toString(session.usuarioAutenticado.type) != 'TWO_FACTOR'}"> Para realizar a Autenticação em Dois Fatores, por favor efetue o logout e feche todas as janelas de seu navegador. Em seguida, efetue o login novamente, informando suas Credenciais (usuário e senha) e um Código de Segurança válido.</span>
								</a>
							</li>
							<li th:style="${#strings.toString(session.usuarioAutenticado.type) == 'BASIC' ? 'border: 2px solid #a94442' : ''}">
								<a>
									<span>
										<span><strong>Autenticação Básica</strong></span>
										<span class="time" style="color:#a94442">Nível Baixo</span>
									</span>
									<span class="message"><strong>Nível básico de segurança, por meio de um frágil mecanismo de verificação de identidade.</strong></span>
									<span class="message" style="font-style:italic;margin-top:10px" th:if="${#strings.toString(session.usuarioAutenticado.type) != 'BASIC'}"> Para realizar a Autenticação Básica, por favor efetue o logout e feche todas as janelas de seu navegador. Em seguida, efetue o login novamente, informando suas Credenciais (usuário e senha). </span>
								</a>
							</li>
						</ul>
					</li>
					<!-- Exibe este bloco apenas se a authenticação for JWT (devido a referencia ao objeto jwtAuthenticatedUser, em caso de autenticação diferente de JWT, pode haver erro na renderização.-->
					<li th:if="${isUsuarioAutenticadoJwt}">
						<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
							<i class="fa fa-globe" style="color:#777; font-size:25px; position:relative; top:5px; right:3px" th:if="${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.requestOrigin) == 'EXTERNA'}"></i>
							<i class="fa fa-sitemap" style="color:#777; font-size:25px; position:relative; top:5px; right:3px" th:if="${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.requestOrigin) == 'INTERNA'}"></i>  
						</a>
						<ul id="menuOrigensRequisicao" class="dropdown-menu list-unstyled msg_list" role="menu">
							<li th:if="${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.requestOrigin) == 'EXTERNA'}">
								<a style="disabled:true">
									<span>
										<span><strong>Internet</strong></span> 
										<span class="time" style="color:#f39c25" th:text=${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.remoteIpAddress)}></span>
									</span>
									<span class="message"><strong>Você está autenticado a partir da Internet. </strong></span>
									<span class="message" style="font-style:italic;margin-top:10px"> A origem de seu acesso influencia nas funcionalidades disponíveis para você. Em caso de dúvidas, contate o Gestor do Sistema.</span>
								</a>
							</li>
							<li th:if="${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.requestOrigin) == 'INTERNA'}">
								<a style="disabled:true">
									<span>
										<span><strong>Intranet</strong></span> 
										<span class="time" style="color:#f39c25" th:text=${#strings.toString(session.usuarioAutenticado.jwtAuthenticatedUser.jwtDetails.remoteIpAddress)}></span>
									</span>
									<span class="message"><strong>Você está autenticado a partir da Rede interna da Secretaria da Economia. </strong></span>
									<span class="message" style="font-style:italic;margin-top:10px"> A origem de seu acesso influencia nas funcionalidades disponíveis para você. Em caso de dúvidas, contate o Gestor do Sistema.</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>