<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-master}">
	<head>
		<title>Components Usage Example</title>
		
		<!-- bootstrap-switch -->
		<link th:href="@{/resources/vendors/bootstrap-switch/bootstrap-switch.min.css}" rel="stylesheet">
		
		<!-- Datatables -->
    	<link th:href="@{/resources/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css}" rel="stylesheet">
    	
    	<!-- bootstrap-duallistbox-->
		<link th:href="@{/resources/vendors/bootstrap-duallistbox/bootstrap-duallistbox.css}" rel="stylesheet">
	</head>
	
	<body>
		<section layout:fragment="content">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							<h2><i class="fa fa-gear pull-left"></i>Human Resource Sample Project Components</h2>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							
							<!-- Sefazgo Messages -->
							<fieldset>
								<legend>sefazgo:messages</legend>
								<div class= "row">
									<sefazgo:messages id="js-example-sefazgo-message"/>
								</div>
							</fieldset>
							
							<div class="row" style=" margin-bottom: 40px;"></div>
							
							<!-- Sefazgo Toggle -->
							<fieldset>
								<legend>sefazgo:toggle</legend>
								<div class= "row">
									<div class="col-md-2 col-sm-2 col-xs-6 form-group">
		                            	<label class="control-label" for="sexo">Sexo</label>
		                            	<sefazgo:toggle id="sexo" type="SEXO"  class="js-example-sefazgo-toggle"/>
		                			</div>
		                			<div class="col-md-2 col-sm-2 col-xs-6 form-group">
		                            	<label class="control-label" for="ativoInativo">Ativo / Inativo</label>
		                            	<sefazgo:toggle id="ativoInativo" type="ATIVO_INATIVO"  class="js-example-sefazgo-toggle"/>
		                			</div>
		                			<div class="col-md-2 col-sm-2 col-xs-6 form-group">
		                            	<label class="control-label" for="simNao">Sim / Não</label>
		                            	<sefazgo:toggle id="simNao" type="SIM_NAO"  class="js-example-sefazgo-toggle"/>
		                			</div>
		                		</div>
							</fieldset>
							
							<div class="row" style=" margin-bottom: 40px;"></div>
							
							<!-- Sefazgo Pagination -->
							<fieldset>
								<legend>Sefazgo:pagination</legend>
								<div class= "row">
									<table class="table table-striped table-bordered dt-responsive nowrap js-example-sefazgo-datatable" cellspacing="0" width="100%">
										<thead>
			                                <tr>
			                                    <th class="table-col-id">Id</th>
			                                    <th>Name</th>
			                                    <th class="all table-col-buttons" ></th>
			                                </tr>
										</thead>
										<tbody>
											<tr th:each="region : ${page.content}">
												<td class="table-col-id" th:text="${region.id}"></td>
												<td th:text="${region.name}"></td>
												<td class="table-col-buttons" >
													<div class="pull-right">
														<button type="button" class="btn btn-default btn-xs" th:onclick="|location.href='@{/regions/form/}${region.id}'|" title="Edit"><div class="fa fa-pencil"></div></button>
														<button type="button" class="btn btn-default btn-xs" title="Delete" data-toggle="modal" data-target="#modalDeleteConfirmation" th:data-record-id="${region.id}" th:data-record-name="${region.name}" th:data-action-url="@{/regions/delete}"> <div class="glyphicon glyphicon-trash"></div></button>
													</div>
												</td>
											</tr>
											
										</tbody>
									</table>
									<!-- Pagination Bar -->
									<sefazgo:pagination page="${page}"/>
								</div>
							</fieldset>
							
							<div class="row" style=" margin-bottom: 40px;"></div>
							
							<!-- Sefazgo PickList -->
							<form th:action="@{/components}" method="post">
								<fieldset>
									<legend>Sefazgo PickList</legend>
									<div class= "row">
										<select name="countries" class="form-control form-picklist js-example-sefazgo-picklist" multiple>
				 							<option th:each="country : ${page.content[0].countries}" th:value="${country.id}" th:text="${country.name}"/>
				 						</select>
									</div>
								</fieldset>
								<div class="form-group">
									<div class="btn-toolbar pull-right">
										<button type="submit" class="btn  btn-dark btn-sm">Submit</button>
									</div>
								</div>
							</form>
							
							<div class="row" style=" margin-bottom: 40px;"></div>
							
							<!-- Sefazgo InputClear -->
							<fieldset>
								<legend>Sefazgo InputClear</legend>
								
								<div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
									<label class="control-label" for="firstName">First Name</label>
									<input id="firstName" type="text" class="form-control has-feedback-left js-example-sefazgo-inputclear" />
									<span class="fa fa-keyboard-o form-control-feedback left" aria-hidden="true"></span>
								</div>
							</fieldset>
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<th:block layout:fragment="self-page-javascripts">
		
			<!-- Initialization of components-->
			<script th:src="@{/resources/js/example-init-components.js}"></script>
			
			<!-- Sefazgo Toggle-->
			<script th:src="@{/resources/vendors/bootstrap-switch/bootstrap-switch.min.js}"></script>
			<script th:src="@{/resources/js/sefazgo/toggle/1.0.0/jquery.sefazgo.toggle.js}"></script>
			
		    <!-- Sefazgo Datatables-->
		    <script th:src="@{/resources/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
			<script th:src="@{/resources/js/sefazgo/datatable/1.0.0/jquery.sefazgo.datatable.js}"></script>
			
			<!-- Sefazgo PickList-->
			<script th:src="@{/resources/vendors/bootstrap-duallistbox/jquery.bootstrap-duallistbox.js}"></script>
			<script th:src="@{/resources/js/sefazgo/picklist/2.0.0/jquery.sefazgo.picklist.js}"></script>
			
			<!-- Sefazgo InputClear-->
			<script th:src="@{/resources/js/sefazgo/inputclear/1.0.0/jquery.sefazgo.inputclear.js}"></script>
			
			<!-- Sefazgo Message-->
			<script th:src="@{/resources/js/sefazgo/message/1.1.0/jquery.sefazgo.message.js}"></script>
			
		</th:block>
	</body>
	
</html>